.line {
  width: 5rem;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(to right, white 0%, rgb(70, 70, 70) 100%);
}

.container {
  display: flex;
  /* background-color: aqua; */
}

.title {
  margin: 2rem 0;
  font-size: 4rem;
}
