.container {
  width: 100%;
  padding: 2rem 0;
}

.title {
  font-size: 5rem;
  margin: 2rem 0;
}

.text {
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .title {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  .container {
    text-align: center;
  }
  .title {
    font-size: 2rem;
    margin: 2rem 0 0.5rem 0;
  }

  .text {
    font-size: 0.8rem;
  }
}
